.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("image/r1.JPG") no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  padding: 1rem 0;
  line-height: 1.5;
}
